/*********************** HAMBURGER NAVIGATION **************************/
.hamburger {
    font-size: 3em;
    color: #3D405B;
    cursor: pointer;
    font-family: Verdana;
    display: inline-block;
    z-index: 1100;
    background: #fff;
    border: 2px solid #3D405B;
    border-radius: 2px;
    position: relative;
}


.hamburger::before {
    content: "\2630";
    display: block;
    text-align: center;
    line-height: 2.8em;
}

.hamburger.show::before {
    content: "\00D7";
}

/************************ NAVIGATION BAR **************************/

.navigation {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #eee;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    z-index: 1000;
}

.navigation.show {
    display: block;
}

/* Style nav links for dropdown */

.navigation ul {
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    padding: 1em;
    border-bottom: 1px solid #eee;
}


/* Hide nav by default on small screens */
.navigation {
    display: none;
    position: absolute;
    top: 60px; /* adjust based on your header height */
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    z-index: 1000;
}

/* Show nav when .show is added */
.navigation.show {
    display: block;
}

/* Style nav links for dropdown */
.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    padding: 1em;
    border-bottom: 1px solid #eee;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover{
    background-color: #E07A5F;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #3D405B;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

h1 {
    margin-left: 10px;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    align-items: end;
    border-bottom: 1px solid #ddd;
    padding: 5px 0 5px 10px;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: #3D405B;
}