@media only screen and (min-width: 38rem) {
    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 10px 16px;
        background: #fff;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
    }

    .navigation ul {
        display: flex;
    }
    .navigation a {
        border: none;
    }

}
