body {
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
}

label {
    border-radius: 8px;
    background-color: #4CA;

}

textarea {
    border-radius: 9px;
    background-color: #ffffff;
}

button:hover {
    background-color:#4CA;

    
}

nav ul li {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
    align-content: center;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 80px;
    right: 50px;
}