body {
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
}

label {
    border-radius: 8px;
    background-color: #4CA;

}

textarea {
    border-radius: 9px;
    background-color: #3A3A3A;
}

button:hover {
    background-color:#4CA;
    
    
}