.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}


.quattrocento-bold {
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
}


body {
    background-color: #AEC9E0;
    color: #00008A;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
}

label {
    border-radius: 8px;
    background-color: #5B93C4;
    color: #ffffff;
}

textarea {
    border-radius: 9px;
    background-color: #ffffff;
}

button:hover {
    background-color:#5B93C4;

    
}

nav ul li {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background-color: #5B93C4;
    align-content: center;
    justify-content: center;
    display: flex;
    top: 80px;
    right: 80px;
}

nav a {
  color: #00008A;
  text-decoration: underline; 
}

nav i, nav img.icon {
  color: #00008A; 
  background: transparent; 
}

.question-1 {
    background-color: #5B93C4;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.question-2 {
    background-color: #5B93C4;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.question-3 {
    background-color: #5B93C4;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}