body {
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
}

label {
    border-radius: 8px;
    background-color: #4CA;

}

textarea {
    border-radius: 9px;
    background-color: #ffffff;
}

button:hover {
    background-color:#5B93C4;

    
}

nav ul li {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background-color: #5B93C4;
    align-content: center;
    justify-content: center;
    display: flex;
    top: 80px;
    right: 80px;
}

.question-1 {
    background-color: #5B93C4;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.question-2 {
    background-color: #5B93C4;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}