.membership-form {
    display: flex;
    justify-content: column;
    align-items: center;
    position: relative;
}

label {
    margin: 10px 0;
    padding: 6px;
    display: flex;
    flex-direction: column;
    font-weight: bold;

}

button {
    margin: 10px 0;
    padding: 6px 12px;
    display:flex;
    justify-content: left;
    align-items: left;
    font-size: 16px;
    background-color: #006600;
    color:black;
    border-radius: 4px;

}

button:hover {
    background-color: #00AA;
    transition: background-color 0.3s ease;
}