.membership-form {
    display: flex;
    justify-content: column;
    align-items: center;
    position: relative;
}

label {
    margin: 10px 0;
    padding: 6px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #3a3a3a;

}

button {
    margin: 10px 0;
    padding: 6px 12px;
    display:flex;
    justify-content: left;
    align-items: left;
    font-size: 16px;
    background-color: #3a3a3a;
    color:black;
    border-radius: 4px;

}

button:hover {
    background-color: rgb(252, 251, 251);
    transition: background-color 0.3s ease;
}

.form-group {
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #f9f9f9;
    max-width: 200px;
    width: 100%;
}

    h2 {
    margin: 10px 0;
    padding: 6px 12px;
    display: flex;
    justify-content: left;
    align-items: left;
    color: black;
}

ul li {
    margin: 10px 0;
    padding: 6px 12px;
    display: flex;
    justify-content: left;
    align-items: left;
}


#card-container {
    position: relative;
    display: flex;
    gap: 1em;
    width: 100%;
    margin-top: 1em;
}

.card {
    position: absolute;
    top: 100%;
    right: 0;
    float: right;
    margin-right: 2em;
    display:flex;
    flex-direction: column;
    border: 1px solid #fefdfd;
    background-color:#f6f8f6;   
    border-radius: 8px;
    padding: 16px;
    margin-top: 16px;
    max-width: 300px;

}

h3 {
    color: black;
    padding: 4px;
    margin: 4px;
    margin-top: 1em;
    align-items: center;
    font-size: 2rem;
}

p {
    color: #3a3a3a;
}