.membership-form {
    display: flex;
    justify-content: column;
    align-items: center;
    position: relative;
}

label {
    margin: 10px 0;
    padding: 6px;
    display: flex;
    flex-direction: column;
    font-weight: bold;

}