.membership-form {
    display: flex;
    justify-content: column;
    align-items: center;
    position: relative;
}

label {
    margin: 10px 0;
    padding: 6px;
    display: flex;
    flex-direction: column;
    font-weight: bold;

}

button {
    margin: 10px 0;
    padding: 6px 12px;
    display:flex;
    justify-content: left;
    align-items: left;
    font-size: 16px;
    background-color: #006600;
    color:black;
    border-radius: 4px;

}

button:hover {
    background-color: rgba(170, 0, 0, 0.667);
    transition: background-color 0.3s ease;
}

.form-group {
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fc0303;
    max-width: 200px;
    width: 100%;
}

    h2 {
    margin: 10px 0;
    padding: 6px 12px;
    display: flex;
    justify-content: left;
    align-items: left;
    color: #006600;
}

ul li {
    margin: 10px 0;
    padding: 6px 12px;
    display: flex;
    justify-content: left;
    align-items: left;
}

.card {
    display:flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    border: 1px solid #fc0303;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;

}