@media (max-width: 770px) {
    .hero {
        min-height: 300px;
        height: 50vh;
    }

    .navigation {
        display: block;
        position: static;
        width: auto;
        background: transparent;
        box-shadow: none;
        margin-top: 0;
    }

    .hamburger {
        display: none;
    }

    .navigation ul {
        flex-direction: row;
    }
}
