
.noto-sans-jp {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.hero {
    min-height: 400px;
    height: 60vh;
    background-image: url('../images/fabric.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* Flexbox for positioning */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-content {
    text-align: center;
    color: #ffff;
    z-index: 1;
}

.cta-button {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

/* NAVIGATION LINKS */

nav ul li a {
    display: block;
    justify-content: right;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}