
.noto-sans-jp {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.hero {
    min-height: 400px;
    height: 60vh;
    background-image: url('../images/fabric.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* Flexbox for positioning */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-content {
    text-align: center;
    color: #ffff;
    z-index: 1;
}

.cta-button {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

/* NAVIGATION LINKS */

nav ul {
    display: flex;  
    list-style: none;
    gap: 2rem;  
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* WEATHER WIDGET */
.current-weather {
    margin: 2rem 0;
}

.weather-card {
    background-color: #d3d3d3;
    border-radius: 8px;
    padding: 1.5rem;
    max-width: 400px;
    margin: 1rem auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    justify-content: right;
}

.weather-icon {
    text-align: center;
    color: #f5a623;
    margin-bottom: 1rem;
}

.weather-info {
    text-align: center;
}

.temperature {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin: 0.5rem 0;
}

.condition {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 1rem;
}

.weather-details {
    text-align: left;
    margin-top: 1rem;
}

.weather-details p {
    margin: 0.3rem 0;
    color: #333;
    font-size: 0.95rem;
}