
.noto-sans-jp {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.hero {
    min-height: 400px;
    height: 60vh;
    background-image: url('images/)
}