@media (min-width: 320px) and (max-width: 640px) {}
.points-of-interest {
    display: grid;
    grid-template-areas:
        "card1"
        "card2"
        "card3"
        "card4"
        "card5"
        "card6"
        "card7"
        "card8";
    gap: 3rem;
}