body {
    position: relative;
    background: url("../images/trycicle_worldwide97.jpg");
    min-height: 100%;
    padding: 0;
    margin: 0;

}

h1, h2, h3 {
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
    border: 2px solid #000000;
    border-radius: 8px;


}


#commentList {
    border: 2px solid #000000;
    background-color: #000000;
    color: #ffffff;
    border-radius: 8px;
    

}
