body {
    position: relative;
    background: url("../images/trycicle_worldwide97.jpg");
    min-height: 100%;
    padding: 0;
    margin: 0;

}

h1, h2, h3 {
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
    border: 2px solid #000000;
    border-radius: 8px;


}


#commentList {
    border: 2px solid #04b1b1;
    background-color: #067f97;
    opacity: 0.8;
    color: #ffffff;
    border-radius: 8px;


}


header {
    background-color: #005c80;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
}



