* {
    margin: 0;
    padding: 0;
    border: 15px;
    box-sizing: border-box;

}


.root {
    --header-background: #008000;
    --heading-color: hsl(0, 15%, 0%);
    --align-items: center;
    --justify-content: center;
    --border-radius: 7px;

}


body {
    background: url("../images/asia.webp");
    min-height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
}

nav {
    border-bottom: #005c80 solid 4px;
    text-decoration: underline;
    background-color: #005c80;
    color: #ffffff;
    padding: 20px;
}