label {
    display: block;
    font-weight: 700;
}

input[type="radio"] {

    margin: 1rem;
    padding: 0.5rem;
}

/* stars */ 
input[type="radio"] {
    display: none;
    position: relative;
    caret-color: rgba(0, 0, 0, 0);

}

.stars {
    display: flex;
    flex-direction: row;
    justify-content: left;

}

.stars > label {
    color: gold;
    width: 30px;
    height: 30px;
    font-size: 2rem;
    margin-left: 5px;
    display:flex;
    align-items: center;
    caret-color: rgba(0, 0, 0, 0); /* remove text cursor */
}

.stars > label:hover{
    color: #000;
}


.stars > label::before {
	content: "\2606";
}

.stars input:checked ~ label::before {
	content: "\2605";
}

.bubblegum-sans-regular {
  font-family: "Bubblegum Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.alegreya-italic {
    font-family: 'Alegreya', serif;
    font-style: italic;
    font-weight: 400;
}


/*header*/
header, h1 {

    background-color: #3A004D;
    text-align: center;
    margin: 0;
    padding: 1rem;
    color: #fff;

}


main, label {
    margin: 0 auto;
    padding: 3rem;
    background-color: #D8CDD8;
    max-width: 600px;

}
