
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Italic, sans-serif;
    background-color: #333333;
}

/* Image Section */

.image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display:block;
    opacity: 0.8;
}