
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    color: #333333;
    text-align:center;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
    background-color: #f00;
    
}

/*Data Section (Left)*/
.data-section {
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
    border: 2px solid #131313;
    border-radius: 15px;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.85);
    width: 300px;
    max-width: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.data-section h2 {
    font-family: italic, sans-serif;
    color:#131212;

}

.data-section p {
    margin: 0.5rem 0;
    font-size: 1.1rem;
}

.data-section strong {
    font-weight: bold;
    color: #000;
}

.weather-section {
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translateY(-50%);
    padding: 1.5rem;
    border: 2px solid #131313;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.85);
    width: 300px;
    max-width: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.weather-section h3 {
    font-family: Italic, sans-serif;
    color:#131212;
}

.weather-section p {
    margin: 0,5rem;
    font-size: 1.1rem;

}


.weather-section strong {
    font-weight: bold;
    color: #000;
}



body {
    font-family: Italic, sans-serif;
    background-color: #f3efef;
}

/* Hero Image Section (Center) */

.hero-image-section {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.hero-image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display:block;
    opacity: 0.8;
}


/* Media */
@media (max-width: 768px) {

    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 20px; 
    
    }
    
    header h1 {
        font-size: 1.5rem;
    }
}