
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    color: #333333;
    text-align:center;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
    background-color: #f00;
    
}

/*Data Section (Left)*/
.data-section {
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
    border: 2px solid #131313;
    border-radius: 15px;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.92);
    float: left;
    width: 25%;
}

.data-section h2 {
    font-family: italic, sans-serif;
    color:#131212;

}

.data-section p {
    margin: 0.5rem 0;
    font-size: 1.1rem;
}

.data-section strong {
    font-weight: bold;
    color: #000;
}

.weather-section {
    margin: 1rem;
    padding: 1rem;
    border: 3px solid #131313;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.80);
    float: right;
    width: 25%;


}

.weather-section h3 {
    font-family: Italic, sans-serif;
    color:#131212;
}

.weather-section p {
    margin: 0,5rem;
    font-size: 1.1rem;

}


.weather-section strong {
    font-weight: bold;
    color: #000;
}



body {
    font-family: Italic, sans-serif;
    background-color: #f3efef;
}

/* Image Section (Center) */

.image-section {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display:block;
    opacity: 0.8;
}