* {
    box-sizing: border-box;
    margin: auto;
    padding: 20px;

}

.root {
    
    --header-background: #008000;
    --heading-color: hsl(0, 0%, 0%);
    --heading-font-family: 'Italic', sans-serif;
    --padding : 15px; 

    }


body {
    background: url('../images/trycicle_worldwide.jpg');

}

header, h1 , p {
    padding: 10px;
    margin: 15px;
    background-color: rgba(0, 128, 0, 0.4);

}