.root {
    --primary-color: #333333;
    --secondary-color: #f0f0f0;
    --accent-color: #fdb813;
    --text-color: #131313;
    --border-color: #131313;
    --box-bg-light: rgba(255, 255, 255, 0.85);
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    --border-radius: 15px;
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 1.5rem;
    --font-main: Italic, sans-serif;


}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-size: var(--font-main);
    background-color: var(--accent-color);
    line-height: 1.6; 
}


/* Header */

header {
    color: var(--primary-color);
    padding: var(--spacing-medium);
    font-size: 2rem;
    background-color: var(--secondary-color);
    border-bottom: 2px solid var(--border-color);
    text-align: center;

}

.header-img {
    display: block;
    justify-content: center;
    margin: 0 auto;

}

/*main, section, h2*/

main, section, h2 {

    text-align: center;
    margin: 20px;
    padding: var(--spacing-large);

    
}


form {
    max-width: 600px;
    margin: 0 auto;
    padding: var(--spacing-large);
    background-color: var(--box-bg-light);
    border: var(--border-radius);
    box-shadow: var(--box-shadow);
    box-sizing: border-box;


}

.form-box {
    border: 2px solid #9306f8;
    border-color: var(--border-color);
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
    padding: var(--spacing-medium);
    box-shadow: var(--box-shadow);
    transition: transform 0.3s ease;
}

.form-box:hover {
    transform: translateY(-10px); /* Moves the form box up by 10px on hover */
}

.bubblegum-sans-regular {
  font-family: "Bubblegum Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}


@media (max-width: 768px) {
    form
    {
        padding: var(--spacing-medium);
    }
}
    

header, h1, h2, body, section, main, form {
    font-family: var(--font-main);
    
}
