.root {
    --primary-color: #333333;
    --secondary-color: #f0f0f0;
    --accent-color: #fdb813;
    --text-color: #131313;
    --border-color: #131313;
    --box-bg-light: rgba(255, 255, 255, 0.85);
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    --border-radius: 15px;
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 1.5rem;
    --font-main: Italic, sans-serif;


}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-size: var(--font-main);
    background-color: var(--secondary-color);
    line-height: 1.6; 
}


/* Header */

header {
    color: var(--primary-color);
    padding: var(--spacing-medium);
    font-size: 2rem;
    background-color: var(--secondary-color);
    border-bottom: 2px solid var(--border-color);

}

/*main, section, h2*/

main, section, h2 {

    text-align: center;
    margin: 20px;
    padding: var(--spacing-large);

    
}


form {
    max-width: 600px;
    margin: 0 auto;
    padding: var(--spacing-large);
    background-color: var(--box-bg-light);
    border: var(--border-radius);
    box-shadow: var(--box-shadow);

}



@media (max-width: 768px) {
    form
    {
        padding: var(--spacing-medium);
    }
}
    

header, h1, h2, body, section, main, form {
    font-family: var(--font-main);
    
}
