.root {
    --header-background: #008000;
    --heading-color: hsl(0, 0%, 0%);
    --heading-font-family: 'Italic', sans-serif;
    --padding : 15px;     
}

#navigation {
    background-color: var(--header-background);
    padding: var(--padding);
    
}

header {
    background-color: var(--header-background);
    align-items: center;
    justify-content: center;
    text-align:center;
    padding: 15px;
    margin: 20px;
}

#navigation ul {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    gap: 20px;
    padding: 15px;
    border-bottom: #008000 solid 4px;
    
}

#navigation ul li a {

    background-color: transparent;
    color: rgba(0,0,0,0.7);
    border-radius: #008000;
}


@media (max-width: 600px) {




