@media only screen and (max-width: 640px) {
}

@media only screen and (min-width: 760px) {
        font-size: 0.9rem;
        padding: 0.5em;
    }


@media only screen and (min-width: 1024px) {

}
    
